.form {
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 15px;
}

.containerInput {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

input {
    outline: none;
}