*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

}


svg {
  display: block;
  max-width: 100%;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
  height: auto;
}

button,
input,
select,
textarea {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

#root {
  min-width: 1280px;
  margin: 0 auto;
}